@import "@/styles/abstracts/mixins", "@/styles/abstracts/variables",
  "@/styles/abstracts/functions";

.features {
  margin-top: 7.5rem;
  @include md {
    margin-top: 9rem;
  }

  @include lg {
    margin-top: 12.5rem;
  }

  .wrapper {
    padding: 4rem 0;
    min-height: 58.5rem;
    border-radius: 0.625rem;
    @include bg-colour($clr-dark);

    @include md {
      min-height: 35.3rem;
    }

    @include lg {
      padding-top: 6.25rem;
      min-height: 36.8rem;
    }
  }

  .header {
    text-align: center;
    margin-bottom: 2rem;
  }

  .title {
    margin-bottom: 0.857em;
    @include text-colour($clr-light);
    @include font-size(500);

    @include lg {
      @include font-size(600);
    }
  }

  .description {
    @include font-size(200);
    @include text-colour($clr-light, 80%);
    font-weight: 200;
    margin-bottom: 4rem;
    margin-inline: auto;
    width: 88%;
    max-width: 33.75rem;

    @include md {
      margin-bottom: 4.375rem;
    }

    @include lg {
      margin-bottom: 5.375rem;
      @include font-size(300);
    }
  }

  .featureList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-inline: 1.5rem;
    margin: -38rem 0 0 0;
    gap: 1.5rem;

    @include md {
      padding-inline: 3.625rem;
      align-items: stretch;
      margin-top: -18.5rem;
    }

    @include lg {
      padding-inline: 0;
      margin-top: -15rem;
      flex-direction: row;
      margin-inline: auto;
      width: 85.305%;
    }
  }

  .featureCard {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4.5em 2.1em 3em;
    border-radius: 0.5rem;
    text-align: center;
    height: 23.875em;
    max-width: 26.25em;
    @include text-colour($clr-light);
    @include bg-colour($clr-primary);

    @include md {
      flex-direction: row;
      justify-content: flex-start;
      gap: 3.438em;
      height: 11.25em;
      padding: 2.563em 3em 2.563em 4.375em;
      max-width: none;
      min-width: 35.813em;
    }

    @include lg {
      flex-direction: column;
      justify-content: space-between;
      min-width: auto;
      max-width: 21.875em;
      height: 23.875em;
      padding: 4.5em 0em 2.938em;
    }

    img {
      width: 72px;
      height: auto;

      @include md {
        width: 55px;
      }

      @include lg {
        width: 72px;
      }
    }
  }

  .featureContent {
    @include md {
      text-align: start;
      width: 90%;
    }

    @include lg {
      text-align: center;
    }

    @include xl {
      width: 74%;
    }
  }

  .featureTitle {
    @include font-size(400);
    margin-bottom: 1.5rem;
  }

  .featureDescription {
    @include font-size(200);
    font-weight: 200;

    @include lg {
      @include font-size(300);
    }
  }
}
