@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/functions" as *;

.createPlanSection {
  margin-top: 7.5rem;

  @include lg {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start; // Ensures sticky position of .stepList works
  }

  @include xl {
    padding-inline: 85px;
  }

  .stepListContainer {
    @include lg {
      position: sticky;
      top: 113px;
    }
  }

  .stepList {
    display: none;
    padding: 0;
    margin-bottom: 6.875rem;
    min-width: 255px;
    height: 356px;
    @include font-size(450);

    @include md {
      margin-bottom: 5.5rem;
    }

    @include lg {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 5.5rem;
    }
  }

  .stepListItem {
    @include text-colour($clr-neutral, 95%);

    a {
      text-decoration: none;
      line-height: 1.334;
      cursor: pointer;
    }

    .number {
      display: inline-block;
      min-width: 59px;
      @include text-colour($clr-neutral, 91%);
    }

    .selected {
      @include text-colour($clr-primary, 78%);
    }

    .active {
      @include text-colour($clr-dark);
    }

    &:hover,
    &:focus {
      .step {
        @include text-colour($clr-dark, 70%);
      }

      .number {
        @include text-colour($clr-dark, 70%);
      }
    }

    &:not(:last-child)::after {
      display: block;
      position: relative;
      content: "";
      width: 100%;
      top: 1.5rem;
      left: 0;
      height: 1px;
      @include bg-colour($clr-neutral, 25%);
    }
  }

  .createPlanContent {
    max-width: 730px;
  }

  .orderSummary {
    @include md {
      padding-bottom: 1.5rem;
    }

    @include lg {
      padding-bottom: 3rem;
    }

    .summaryContent {
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-height: 338px;
      padding-inline: 1.688em;
      border-radius: 0.625rem;
      margin-bottom: 3.5rem;

      @include sm {
        min-height: 230px;
      }

      @include md {
        margin-bottom: 2.5rem;
        min-height: 208px;
      }

      @include lg {
        padding-inline: 2.938em;
      }
    }

    .heading {
      @include font-size(300);
      @include text-colour($clr-light, 55.5%);
      @include line-height(300);
      margin-bottom: 0.5rem;
      font-weight: 200;
    }

    button {
      display: block;
      margin-inline: auto;

      @include lg {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}
