@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;

.createPlanSection {
  margin-top: 7.5rem;
  overflow: visible;
  @include lg {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; //This ensures sticky position of .stepListItem works
  }

  @include xl {
    padding-inline: 85px;
  }

  .stepList {
    display: none;
    padding: 0;
    margin: 0;
    min-width: 255px;
    @include text-colour($clr-neutral, 70%);
    @include font-size(450);

    @include lg {
      display: block;
      position: sticky;
      top: 113px;
    }
  }

  .stepListItem {
    .number {
      display: inline-block;
      min-width: 59px;
    }
  }

  a {
    text-decoration: none;
  }
}
