@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 1rem 1.938rem;
  min-width: 217px;
  border: none;
  border-radius: 0.375rem;
  line-height: 1.389;
  @include font-size(350);

  &:hover {
    @include bg-colour($clr-accent);
  }

  &:disabled {
    @include bg-colour($clr-disabled);
    @include text-colour($clr-dark);
    cursor: auto;
  }
}
