@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;

.btn {
  cursor: pointer;
  padding: 1em 2em;
  min-width: 13.563em;
  border: none;
  border-radius: 0.375rem;

  &:hover {
    @include bg-colour($clr-accent);
  }

  &:disabled {
    @include bg-colour($clr-disabled);
    @include text-colour($clr-dark);
    cursor: auto;
  }
}
