@import "@/styles/abstracts/variables";

.btn {
  cursor: pointer;
  padding: 1em 2em;
  min-width: 13.563em;
  border: none;
  border-radius: 0.375rem;

  &:hover {
    background-color: $clr-accent;
  }

  &:disabled {
    background-color: $clr-disabled;
    color: $clr-dark;
    cursor: auto;
  }
}
