@import "@/styles/abstracts/mixins", "@/styles/abstracts/variables";

.stepsList {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include md {
    flex-direction: row;
    text-align: start;
    gap: 25px;
    min-width: 689px;
  }
}

.stepItem {
  display: flex;
  flex-direction: column;
  @include md {
    flex-direction: column;
    flex: 1;
    max-width: 285px;
  }
}

.stepNumber {
  font-weight: bold;
  line-height: 1;
  margin: 3.5rem 0 1.5rem;
}

.stepTitle {
  margin: 0 0 1.5rem;
  @include font-size(500);

  @include md {
    max-width: 223px;
  }

  @include lg {
    max-width: 255px;
    @include font-size(550);
  }
}

.stepDescription {
  @include font-size(200);
  @include lg {
    @include font-size(300);
  }
}
