@import "@/styles/abstracts/mixins", "@/styles/abstracts/variables";

.stepsList {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  --gap: 41px;

  @include md {
    flex-direction: row;
    text-align: start;
    gap: var(--gap);
    min-width: 689px;
  }
}

.stepItem {
  display: flex;
  flex-direction: column;
  --circle-line-height: 2px;
  --circle-diameter: 31px;
  @include md {
    flex-direction: column;
    width: 100%;
  }

  @include md {
    &:not(:last-child)::before {
      position: relative;
      content: "";
      display: block;
      height: var(--circle-line-height);
      width: calc(100% + var(--gap));
      top: calc(var(--circle-diameter) / 2);
      left: 0%;
      background-color: black;
      color: black;
      z-index: -1;
    }
  }
}

.stepContent {
  @include md {
    max-width: 285px;
  }
}

.circle {
  @include md {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    border: 2px solid black;
    border-radius: 50%;
    @include bg-colour($clr-background);
  }
}

.stepNumber {
  font-weight: bold;
  line-height: 1;
  margin: 3.5rem 0 1.5rem;
}

.stepTitle {
  margin: 0 0 1.5rem;
  @include font-size(500);

  @include md {
    max-width: 223px;
  }

  @include lg {
    max-width: 255px;
    @include font-size(550);
  }
}

.stepDescription {
  @include font-size(200);
  @include lg {
    @include font-size(300);
  }
}
