@import "@/styles/abstracts/mixins", "@/styles/abstracts/variables",
  "@/styles/base/typography", "@/styles/abstracts/functions";

// Navbar styles
.navbar {
  opacity: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  @include text-colour($clr-neutral);
  @extend .fs-100, .uppercase;

  &.menuOpen {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 4.4rem;
    opacity: 1;
    transition: opacity 0.5s ease;
    padding-top: 2.5em;
    height: 100vh;
    background-image: linear-gradient(
      to-hsl-comma-sep($clr-light) 50%,
      transparent
    );
    @include text-colour($clr-dark);
    @extend .ff-serif, .fs-500, .capitalise;
  }

  @include md {
    display: flex;
    height: auto;
    justify-content: center;
    opacity: 1;
  }
}

// Primary navigation styles
.primaryNavigation {
  @include md {
    display: flex;
    min-width: 283px;
  }

  // Hamburger menu styles
  .hamburger {
    display: block;
    margin: 0.5rem 0.5rem 0 auto;
    border: none;
    padding: 0;
    cursor: pointer;

    @include md {
      display: none;
    }
  }

  // Navigation list styles
  ul {
    display: none;
    margin: 0;
    padding: 0;

    &.menuOpen {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      margin: 0.25em 0;
    }

    a {
      text-decoration: none;
      @include text-colour($clr-dark);
    }

    // Media query specific styles
    @include md {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: inherit;

      li {
        margin: 0;
      }

      a {
        @include text-colour($clr-neutral);

        &:hover,
        &:focus,
        &:active {
          @include text-colour($clr-dark);
        }
      }
    }
  }
}
