//Colours
$clr-primary: 179 81% 29%; // #0E8784 (Dark Cyan)
$clr-secondary: 215 19% 25%; // #333D4B (Dark Grey Blue)
$clr-accent: 25 94% 86%; // #FDD6BA (Pale Orange)
$clr-background: 43 78% 98%; // #FEFCF7 (Light Cream)
$clr-dark: 215 5% 54%; // #83888F (Grey)
$clr-neutral: 215 19% 25%; // #858DAB (Dark Grey Blue)

//Fonts sizes
$fs-900: 9.375rem;
$fs-800: 6.25rem;
$fs-700: 3.5rem;
$fs-600: 2rem;
$fs-500: 1.75rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: 0.875rem;

//Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
