@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;

$image-mobile: "/assets/plan/mobile/image-hero-blackcup.jpg";
$image-tablet: "/assets/plan/tablet/image-hero-blackcup.jpg";
$image-desktop: "/assets/plan/desktop/image-hero-blackcup.jpg";

.hero {
  background-size: cover;
  text-align: center;
  border-radius: 0.625rem;
  padding: 6.25em 1.5em;
  background-image: url($image-mobile);
  a {
    text-decoration: none;
  }
  @include md {
    background-image: url($image-tablet);

    padding: 6.5em 3.5em;
    text-align: start;

    .content {
      width: 68%;
      max-width: 500px;
    }
  }

  @include lg {
    background-image: url($image-desktop);
    padding: 8.563em 5.313em;

    .content {
      width: 55%;
      min-width: 491px;
      max-width: auto;
    }
  }

  @include xl {
    .content {
      width: 45%;
    }
  }

  .title {
    line-height: 1;
    margin-bottom: 1.5rem;
    @include font-size(600);

    @include md {
      @include font-size(650);
    }

    @include lg {
      margin-bottom: 2rem;
      @include font-size(600);
    }
  }

  .description {
    font-weight: 400;
    @include font-size(200);
    @include text-colour($clr-light, 85%);

    @include lg {
      width: 85%;
    }
  }
}
