@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;

.cardsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  @include md {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .btn {
    cursor: pointer;
    padding: 1.5em 1.563em;
    border: none;
    border-radius: 0.375rem;
    min-height: 140px;
    display: flex;
    flex-direction: column;

    @include md {
      max-width: 228px;
      min-height: 250px;
      padding: 1.75em 1.563em;
    }

    @include lg {
      padding: 2em 1.75em;
    }

    &:hover {
      @include bg-colour($clr-secondary);
    }

    &:disabled {
      @include bg-colour($clr-disabled);
      @include text-colour($clr-dark);
      cursor: auto;
    }

    &.selected {
      @include bg-colour($clr-primary);
      @include text-colour($clr-light);
    }
  }

  * {
    text-align: start;
  }
}
