@import "@/styles/abstracts/variables", "@/styles/abstracts/mixins";

.cardsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  @include md {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .btn {
    cursor: pointer;
    padding: 1.5em 1.563em;
    border: none;
    border-radius: 0.375rem;
    min-height: 140px;
    display: flex;
    flex-direction: column;

    @include md {
      max-width: 228px;
      min-height: 250px;
      padding: 1.75em 1.563em;
    }

    @include lg {
      padding: 2em 1.75em;
    }

    &:hover {
      background-color: $clr-secondary;
    }

    &:disabled {
      background-color: $clr-disabled;
      color: $clr-dark;
      cursor: auto;
    }

    &.selected {
      background-color: $clr-primary;
      color: $clr-background;
    }
  }

  * {
    text-align: start;
  }
}
