@import "../styles/abstracts/mixins", "../styles/abstracts/variables",
  "../styles/base/typography";

// Navbar styles
.navbar {
  opacity: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: $clr-neutral;
  @extend .fs-200, .uppercase;

  &.menu-open {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 4.4rem;
    opacity: 1;
    transition: opacity 0.5s ease;
    padding-top: 2.5em;
    height: 100vh;
    background-image: linear-gradient($clr-background 50%, transparent);
    color: $clr-dark;
    @extend .ff-serif, .fs-500, .capitalise;
  }

  @include md {
    display: flex;
    height: auto;
    justify-content: center;
    opacity: 1;
  }
}

// Primary navigation styles
.primary-navigation {
  @include md {
    display: flex;
    min-width: 283px;
  }

  // Hamburger menu styles
  .hamburger {
    display: block;
    margin: 0.5rem 0.5rem 0 auto;
    border: none;
    padding: 0;
    cursor: pointer;

    @include md {
      display: none;
    }
  }

  // Navigation list styles
  ul {
    display: none;
    margin: 0;
    padding: 0;

    &.menu-open {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      margin: 0.25em 0;
    }

    a {
      text-decoration: none;
      color: $clr-dark;
    }

    // Media query specific styles
    @include md {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: inherit;

      li {
        margin: 0;
      }

      a {
        color: $clr-neutral;

        &:hover,
        &:focus,
        &:active {
          color: $clr-dark;
        }
      }
    }
  }
}
