@import "@/styles/abstracts/mixins", "@/styles/abstracts/variables",
  "@/styles/base/typography";

$image-mobile: "/assets/about/mobile/image-hero-whitecup.jpg";
$image-tablet: "/assets/about/tablet/image-hero-whitecup.jpg";
$image-desktop: "/assets/about/desktop/image-hero-whitecup.jpg";
$gradient: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));

.hero {
  background-size: cover;
  text-align: center;
  border-radius: 0.625rem;
  padding: 6.25em 1.5em;
  background-image: $gradient, url($image-mobile);
  a {
    text-decoration: none;
  }
  @include md {
    background-image: $gradient, url($image-tablet);

    padding: 6.5em 3.5em;
    text-align: start;

    .content {
      width: 71%;
      max-width: 500px;
    }
  }

  @include lg {
    background-image: $gradient, url($image-desktop);
    padding: 8.563em 5.313em;

    .content {
      width: 55%;
      min-width: 491px;
      max-width: auto;
    }
  }

  @include xl {
    .content {
      width: 45%;
    }
  }

  .title {
    line-height: 1;
    margin-bottom: 1.5rem;
    @extend .capitalise;
    @include font-size(600);

    @include md {
      @include font-size(650);
    }

    @include lg {
      margin-bottom: 2rem;
      @include font-size(600);
    }
  }

  .description {
    font-weight: 400;
    @include font-size(200);
    @include text-colour($clr-light, 80%);

    @include lg {
      width: 81%;
    }
  }
}
