@import "@/styles/abstracts/mixins", "@/styles/abstracts/functions",
  "@/styles/abstracts/variables";
#mainHeader {
  padding: 2em 0 2em;
  width: auto;
  background-image: linear-gradient(
    to-hsl-comma-sep($clr-light) 75%,
    transparent
  );

  @include md {
    padding: 2.5em 0 2.5em;
  }

  @include lg {
    padding: 2.723em 0 2.723em;
  }
}

.menu {
  width: 100%;
}
