@use "./resets" as *;
@use "./typography" as *;
@use "./spacings" as *;
@use "./colours" as *;

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  color: #000;
  text-align: center;
  transition: top 0.3s ease;

  &:focus {
    top: 0;
    z-index: 1001;
  }
}
