@use "./resets" as *;
@use "./typography" as *;
@use "./spacings" as *;
@use "./colours" as *;

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;

  // ~ main:first-of-type {
  //   padding-top: 5.5em;

  //   @include md {
  //     padding-top: 5.5em;
  //   }
  // }
}
