.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }
}

@each $alignment in $flex-alignments {
  .align-content-#{$alignment} {
    align-content: #{$alignment};
  }

  .justify-#{$alignment} {
    justify-content: #{$alignment};
  }

  .align-items-#{$alignment} {
    align-items: #{$alignment};
  }
}

// Additional justify-content for space-evenly
.justify-evenly {
  justify-content: space-evenly;
}

// Additional align-items option
.align-items-baseline {
  align-items: baseline;
}

.container {
  margin-inline: 1.5em;
  // margin-inline: auto;
  max-width: 90rem;

  @include md {
    margin-inline: 2.5em;
  }

  @include lg {
    margin-inline: 5em;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%); //clip: rect(0, 0, 0, 0) is deprecated
  white-space: nowrap;
  border: 0;
}
