@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;
@use "@/styles/base/typography" as *;

.accordion {
  .accordionItem {
    margin-bottom: 6.875rem;

    @include md {
      margin-bottom: 6.25rem;
    }

    @include lg {
      margin-bottom: 5.5rem;
    }
    &:last-child {
      border-bottom: none;
    }
    scroll-margin-top: 113px;

    .accordionToggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0;
      border: none;
      text-align: left;
      cursor: pointer;
      @extend .fs-450;

      @include md {
        @include font-size(500);
      }

      @include lg {
        @include font-size(600);
      }

      &:hover .accordionIcon {
        opacity: 0.5;
      }

      &:disabled {
        cursor: auto;

        .accordionLabel,
        .accordionIcon {
          opacity: 0.5;
        }
      }

      .accordionLabel {
        line-height: 1.167;
        @include text-colour($clr-neutral);
      }

      .accordionIcon {
        transition: transform 0.3s ease-in;
        margin-left: 4.313rem;

        &.open {
          transform: rotate(180deg);
          opacity: 1;
        }
      }
    }

    .accordionContent {
      overflow: hidden;
      display: none;
      padding-top: 2em;
      width: fit-content;
      max-height: 0;
      transition: max-height 0.3s ease;

      @include lg {
        padding-top: 3.5rem;
      }

      &.open {
        display: flex;
      }
    }
  }
}
