@import "@/styles/abstracts/mixins", "@/styles/abstracts/variables",
  "@/styles/base/typography";

.accordion {
  .accordion-item {
    &:last-child {
      border-bottom: none;
    }

    .accordion-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: none;
      text-align: left;
      cursor: pointer;
      @extend .fs-450;

      @include md {
        @include font-size(500);
      }

      @include lg {
        @include font-size(600);
      }

      &:hover .accordion-icon {
        opacity: 0.5;
      }

      &:disabled {
        cursor: auto;

        .accordion-label,
        .accordion-icon {
          opacity: 0.5;
        }
      }

      .accordion-label {
        @include text-colour($clr-neutral);
      }

      .accordion-icon {
        transition: transform 0.3s ease;

        &.open {
          transform: rotate(180deg);
          opacity: 1;
        }
      }
    }

    .accordion-content {
      overflow: hidden;
      display: none;

      &.open {
        display: flex;
      }
    }
  }
}
