@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;
@use "@/styles/base/typography" as *;

.accordion {
  .accordionItem {
    &:last-child {
      border-bottom: none;
    }

    .accordionToggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: none;
      text-align: left;
      cursor: pointer;
      @extend .fs-450;

      @include md {
        @include font-size(500);
      }

      @include lg {
        @include font-size(600);
      }

      &:hover .accordionIcon {
        opacity: 0.5;
      }

      &:disabled {
        cursor: auto;

        .accordionLabel,
        .accordionIcon {
          opacity: 0.5;
        }
      }

      .accordionLabel {
        @include text-colour($clr-neutral);
      }

      .accordionIcon {
        transition: transform 0.3s ease;

        &.open {
          transform: rotate(180deg);
          opacity: 1;
        }
      }
    }

    .accordionContent {
      overflow: hidden;
      display: none;

      &.open {
        display: flex;
      }
    }
  }
}
