@import "@/styles/abstracts/mixins", "@/styles/abstracts/variables",
  "@/styles/abstracts/functions";

.howItWorks {
  margin-top: 7.5rem;

  @include lg {
    padding-left: 5.313rem;
    width: 90%;
  }

  .header {
    text-align: center;
    @include md {
      text-align: start;
    }
  }

  .title {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .ctaBtn {
    margin: 4.938rem 0 0;
    text-align: center;

    @include md {
      text-align: start;
      margin-top: 2.75rem;
    }
  }
}
