.howItWorks {
  margin-top: 7.5rem;

  .header {
    text-align: center;
  }

  .title {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .ctaBtn {
    margin: 4.938rem 0 0;
    text-align: center;
  }
}
