@import "@/styles/abstracts/mixins", "@/styles/abstracts/variables",
  "@/styles/abstracts/functions";

.howItWorks {
  margin-top: 6.25rem;
  padding-inline: 1.5em;

  @include md {
    padding-inline: 2.5em;
  }

  @include lg {
    padding-left: 5.313em;
    padding-right: 5em;
    width: 100%;
  }

  .ctaBtn {
    margin: 4.938rem 0 0;
    text-align: center;

    @include md {
      text-align: start;
      margin-top: 2.75rem;
    }
  }
}
