@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;

$image-mobile: "/assets/home/mobile/image-hero-coffeepress.jpg";
$image-tablet: "/assets/home/tablet/image-hero-coffeepress.jpg";
$image-desktop: "/assets/home/desktop/image-hero-coffeepress.jpg";

.hero {
  background-size: cover;
  text-align: center;
  border-radius: 0.625rem;

  padding: 6.25em 1.5em;
  background-image: url($image-mobile);
  a {
    text-decoration: none;
    text-align: center;
    @include lg {
      display: block;
      max-width: 217px;
    }
  }
  @include md {
    background-image: url($image-tablet);

    padding: 6.5em 3.5em;
    text-align: start;

    .content {
      width: 68%;
      max-width: 500px;
    }
  }

  @include lg {
    background-image: url($image-desktop);
    padding: 7.25em 5.313em;
    min-height: 600px;

    .content {
      width: 55%;
      min-width: 493px;
    }
  }

  @include xl {
    .content {
      width: 45%;
    }
  }

  .title {
    line-height: 1;
    margin-bottom: 1.5rem;
    @include font-size(600);

    @include md {
      @include font-size(650);
    }

    @include lg {
      margin-bottom: 2rem;
      @include font-size(700);
    }
  }

  .description {
    margin-bottom: 2.5rem;
    font-weight: 200;
    @include font-size(200);
    @include text-colour($clr-light, 85%);

    @include lg {
      margin-bottom: 3.5rem;
      width: 80%;
      @include font-size(300);
      @include line-height(300);
    }
  }
}
