@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/functions" as *;

.products {
  margin-top: 7.5rem;

  @include md {
    margin-top: 4.312rem;
  }

  @include lg {
    margin-top: 1.75rem;
  }

  .title {
    position: relative;
    text-align: center;
    z-index: -1;
    background: -webkit-linear-gradient(
      to-hsl-comma-sep($clr-neutral, 0.5) 1%,
      to-hsl-comma-sep($clr-light, 0.5) 99%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include font-size(600);

    @include md {
      @include font-size(800);
      width: 102%;
      translate: -1.125rem 4.688rem;
    }

    @include xl {
      @include font-size(900);
      translate: 0.625rem 6.75rem;
    }
  }

  .productList {
    flex-direction: column;
    list-style: none;
    gap: 3em;
    padding-inline: 1rem;
    margin: 0.813rem auto 0;
    max-width: 380px;

    @include md {
      max-width: max-content;
      gap: 2em;
      padding-inline: 3.5rem;
    }

    @include lg {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding-inline: 0;
      gap: 3em;
    }

    @include xl {
      gap: 0;
    }
  }

  .productCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5em;

    @include md {
      flex-direction: row;
      gap: 2.25em;
      text-align: start;
      align-items: start;
    }

    @include lg {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    img {
      width: 200px;
      height: auto;
      @include md {
        width: 255px;
        height: auto;
      }
    }
  }

  .productName {
    @include font-size(400);
    margin-bottom: 1rem;

    @include md {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }

    @include lg {
      margin-top: 0;
    }
  }

  .productDescription {
    @include font-size(200);

    @include lg {
      @include font-size(300);
      max-width: 350px;
    }

    @include xl {
      max-width: 255px;
    }
  }
}
